@import "./flex.css";
.flex { display: flex };
.grid { display: grid };
.block { display: block };
.inline { display: inline };

.base {
  margin: 0;
  padding: 0;
}
.center { 
  max-width: fit-content; 
  margin-inline: auto; 
}

.sticky { position: sticky };
.relative { position: relative };
.absolute { position: absolute };